@import url('https://fonts.googleapis.com/css2?family=Rosario&display=swap');

* {
    font-family: 'Rosario', sans-serif;
}

body {
    margin: 0px;
    background-color: white;
}

header {
    padding: 5px 0px 0px 0px;
    background-color: black;
    margin: 0px;
}

h1 {
    text-align: center;
    color: white;
}

#linha-out {
    text-align: center;
    padding: 0px 20px 0px 20px;
    background-color: black;
    margin: 0px auto 0px auto;
    max-width: 800px;
}

#linha {
    height: 1.8px;
    background-color: white;
    padding: 0px;
    margin: 0px auto 0px auto;
}

#menu {
    background-color: #000000;
    margin-right: 10px;
    padding: 10px 0px 10px 0px;
    text-align: right;
}

header > #menu  > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-left: 8px;
    padding: 0px 6px 0px 0px;
    background-color: #000000;
}


header > #menu  > a:hover{
    text-decoration: underline;
}



main {
    background-color: white;
    margin: auto;
    padding: 15px;
    min-width: 320px;
    max-width: 800px;

}

a {
    text-decoration: none;
    color:rgb(89, 89, 189);
}

li {
    margin-bottom: 8px;
}

h2 {
    color: black;
}

footer {
    background-color: #000000;
    height: 40px;
    display: flex;
    align-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}