@import url('https://fonts.googleapis.com/css2?family=Rosario&display=swap');

* {
    margin: 0px;
}

header {
    background-color: #5BAD5B;
    margin-bottom: 10px;
}

#logotipo {
    display: block;
    margin: auto;
    width: 300px;
}

nav {
    display: block;
    padding-left: 12px;
    padding-bottom: 4px;
}

nav a {
    color: white;
    text-decoration: none;
    font-family: 'Rosario', sans-serif;
    font-weight: bold;
    margin-left: 14px;
}

#box-content {
    max-width: 800px;
    min-width: 320px;
    margin: auto;
    padding: 0px 8px 0px 8px;
}

h1 {
    margin-bottom: 20px;
}

p {
    text-align: justify;
    margin-bottom: 10px;
}

footer {
    width: 100%;
    height: 50px;
    background-color: rgb(156, 156, 156);
    margin-top: 10px;
}